@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	color: #0f0a0a;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
body{
	background-image: url(pictures/background.jpg);
	background-size: contain;
}
h1{
	color: #F55D3E;
}
h2,h3,h4,h5,h6{
	padding-left: 1em;
	color: #5E548E;
}
hr{
	border: 2px solid#a79e9e;
	margin: 5px;
}
p{
	padding-top: 0.5em;
}
table{
	margin: auto;
	border: 2px solid#0f0a0a;
	border-collapse: collapse;
}
table td,
table th{
	padding: 0.5em;
}
nav{
	background-color: #F5EFED;
	opacity: 0.9;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
}
nav .logo{
	position: relative;
	width: 3em;
	margin: 0em;
	margin-left: 2em;
}
nav .logo img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
nav ul{
	vertical-align: middle;
	list-style: none;
	display: inline-flex;
	margin-right: 2em;
}
nav ul li{
	margin: 0.5em 1em 0.5em 1em; 
}
.btn {
	background-color: #2292A4;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 500;
	height: 3em;
	line-height: 1.5em;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
}
.btn:hover,
.btn:focus {
  	background-color: #4cabb9;
}

.banner{
	text-align: center;
	padding: 5%;
	padding-top: 10%;
	background-image: url("pictures/banner.jpg");
	background-size: cover;
	border-bottom: 2px solid #0f0a0a;
}
.banner h1{
	font-size: 6em;
}
.banner h1 strong{
	background-color: #F5EFED;
	padding: 0.05em;
	border-radius: 0.1em;
}

main{
	/*background-color: #F5EFED;
	*/
	background-color: transparent;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
}

.preview-block{
	margin: 1%;
	padding: 1%;
	background-color: #2292A4;
	border-radius: 25px;
	display: flex;
}
.preview-block img{
	object-fit: contain;
	border-radius: 25px;
	max-width: 60vw;
	max-height: 40vh;
	transition: 0.5s;
}
.preview-block img:hover{
	transform:  scale(1.02);
}
.preview-block div{
	margin-left: 15px;
	font-size: 1.5em;
}
@media (max-width: 1080px) {
	.preview-block{
		display: block;
	}
	.preview-block img{
		margin-right: 15px;
	}
}

.article-block{
	margin-top: 1%;
}
.article-block h2{
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
	box-sizing: border-box;
	margin-bottom: 1%;
	border-bottom: 1px solid#0f0a0a;
}
.article-block ul{
	list-style-type: circle;
	padding-left: 2em;
}
.article-block .row{
	display: flex;
	justify-content: center;
}
.ilustration{
	display: block;
	box-sizing: border-box;
	margin: 1%;
	/*
	border: 1px solid #0f0a0a;
	border-radius: 15px;
	*/
}
.ilustration img{
	box-sizing: border-box;
	padding: 1%;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	max-height: 50vh;
}
.ilustration audio{
	margin-top: 2em;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ilustration video{
	box-sizing: border-box;
	object-fit: contain;
	width: 100%;
	padding: 5%;
	padding-bottom: 0;
}
.ilustration figcaption{
	text-align: center;
	font-style: italic;
	padding: auto;
}

.feadback-form,
.article-block,
.preview-block{
	background-color: #F5EFED;
	padding: 10px;
	border-radius: 15px;
}
.feadback-form h2{
	text-align: center;
}
.form-group label{
	font-weight: bold;
	margin: 5px;
	display: block;
}
.form-group input,
.form-group textarea{
	padding: 10px;
	box-sizing: border-box;
	display: block;
	border: none;
	width: 100%;
	border-bottom: 1px solid #0f0a0a;
	outline: none;
	font-family: inherit;
}
.form-row{
	display: flex;
}
.form-row > .form-group{
	width: 50%;
}
.form-row > .form-group:first-child{
	margin-right: 15px;
}
.feadback-form .btn{
	margin: 5px;
}

footer{
	padding: 1% 15% 1% 15%;
	background-color: #2292A4;
}